/**{ border: 1px solid red; }*/
*{ 
    margin: 0; 
    padding: 0; 
   } 
body{
    overflow-x :hidden;
}

.part1{
    position: absolute;
    width: 1440px;
    height: 645px;
    flex-shrink: 0;
}
.part2{
    position: absolute;
    width: 1447px;
    height: 671px;
    flex-shrink: 0; 
    top:749px;
}

.part3{
    position:absolute;
    width: 1440px;
    height: 645px;
    z-index: 3;
    top:1495px;
}
.part1 h1{
    position: relative;
    color: #FFF;
    /*font-style: bold;*/
font-family: Inter;
font-size: 100px;
font-style: bold;
font-weight: 700;
line-height: normal;
left: 103px;
top: 145px;
letter-spacing: 0.25em;
}

.part1 h3{
    position: relative;
    left: 120px;
    top:200px;
    width: 388px;
    height: 37px;
    flex-shrink: 0;
    color: #FEFAE0;
    font-family: Inter;
    font-size: 24px;
    font-style: bold;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.4em;
    white-space: nowrap;
}

.part1 img{
    width: 912px;
height: 543px;
flex-shrink: 0;
position: relative;
bottom: 70px;
left:527px;

}

.part3 h2{
    position: relative;
    width: 562px;
    height: 84px;
    flex-shrink: 0;
    color: #064635;
    font-family: Inter;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    left: 8.5em;
    top:89px;
    letter-spacing: 15px;
    white-space: nowrap;;
}

.part3 h3{
    position: relative;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: center;
    top:95px;
}
 nav{
    display: inline-block;
    position: relative;
    bottom: 770px;
    right:160px;
    z-index: 2;
 }
.nav li{
    display: inline-block;
    margin:0px 30px;
}
.nav li a{
    letter-spacing: 0.3em;
    text-decoration: none;
    color: #FEFAE0;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav li a:hover{
    text-decoration: underline;
 }

.part2 .lamp{
    position: relative;
    left: 184.89px;
}

.landfill{
    position: relative;
    left:9em;
    bottom:20em;
}
.part2 h2{
    position: relative;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    left: 657.05;
    bottom: 16em;
}

.part1 .mid{
    position: relative;
    left: 657.05;
    bottom: 20em;;
}

.bottom{
    position: relative;
    margin-top: 50px;
}
.connection{
    position: relative;
    left:1220.48px;
    bottom:304px;
}

.part2 h4{
    position: relative;
    color: #1E1E1E;
font-family: Inter;
font-size: 50px;
font-style: bold;
font-weight: 400;
line-height: normal;
bottom: 4.5em;
left:200.57px;
letter-spacing: 0.4em;
}

.container3 h3{
    position: relative;
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 65px;
    left:420px;
    background-color:#BC6C25;
    padding-top: 32px; padding-bottom: 53px;
    padding-left: 250px; padding-right: 220px;
    border-radius: 200px;
}

.bin1{
    display: inline-block;
    position: relative;
    top:125px;
    right: 285px;

}

.container3 a{
    text-decoration: none;
    color:black;
    display: inline-block;
    position: relative;
    font-size: 80px;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    top: 85px;
    left: 80px;
    background-color: #FEFAE0;
    border-radius: 9999px;
}